@import url(./font.css);

:root {
  --dark: #111;
  --darker: #000;
  --primary-border_color: #fff;
  --secondary-border_color: #4e434a;
  --font-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.underline__href {
  text-decoration: none;
  color: blueviolet;
  transition: all 0.5s;
}

.underline__href:hover {
  color: orangered;
}

header {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.header__copyright {
  color: var(--primary-border_color);
}

.underline {
  font-family: "athleticOutfit", sans-serif;
  cursor: pointer;
  font-size: 20px;
}

.image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-wrap: wrap;
  margin: auto;
}

.image__container .thumbnail {
  border: 1px solid var(--primary-border_color);
  border-radius: 10px;
  width: 350px;
  height: 250px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px 15px;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.popup__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--darker);
  min-width: 100%;
  min-height: 100%;
  animation: fadeIn 0.3s;
}

.popup__container.fadeOut {
  animation: fadeOut 0.3s;
}

.popup__container .img__popup {
  width: 500px;
  height: 350px;
  border: 1px solid var(--primary-border_color);
  border-radius: 10px;
}

.btn__close {
  margin: 15px 0px;
  font-size: 30px;
  background-color: transparent;
  border: 2px solid var(--secondary-border_color);
  max-width: 250px;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  color: var(--font-color);
}

.btn__close:hover {
  transition: all 0.2s ease-in;
  background-image: linear-gradient(to right, #434343 20%, black 100%);
}

.next__img,
.prev__img {
  font-size: 20px;
  margin: 15px 10px;
  background-color: transparent;
  border: 2px solid var(--secondary-border_color);
  color: var(--font-color);
  min-width: 130px;
  min-height: 35px;
  border-radius: 30px;
  cursor: pointer;
}

.next__img:hover,
.prev__img:hover,
.btn__download:hover {
  background-image: linear-gradient(to right, #434343 20%, black 100%);
}

.btn__download {
  padding: 15px 17px;
  border-radius: 50%;
  max-width: 50%;
  margin: 0 auto;
  border: 2px solid var(--secondary-border_color);
  background-color: transparent;
  color: var(--font-color);
  cursor: pointer;
}

.btn__download:hover {
  background-image: linear-gradient(to right, #434343 40%, black 100%);
}
.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
  body {
    min-height: 20vh;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
  }
  .popup__container .img__popup {
    width: 320px;
    height: 300px;
    border: 1px solid var(--primary-border_color);
  }
  .popup__container {
    height: auto;
    min-width: 100%;
  }

  .image__container .thumbnail {
    width: 250px;
    height: 180px;
    flex-wrap: wrap;
    max-width: 300px;
    width: 100%;
  }
  .image__container {
    max-height: 20vh;
  }
}
